<ng-template [ngIf]="isError" [ngIfElse]="details">
  <div>
    <label><h3>Error occurred for while updating driver with id {{id}}:</h3></label>
    <label><h3>{{errorMessage}}:</h3></label>
  </div>
</ng-template>
<ng-template #details>
  <div class="form-create">
    <h3 class="text-center" style="font-size: 26px"><b>Update driver info</b></h3>
    <form (ngSubmit)="onSubmit()">

      <div class="form-group" [formGroup]="driverValidation" style="margin-top: 15px">
        <label><b>Name</b></label>
        <input type="text" class="form-control" id="name" [(ngModel)]="driverUpdate.name" name="name" formControlName="drName">
        <div
          *ngIf="drName!.invalid && (drName!.dirty || drName!.touched)" class="validationAlert">
          <div>
            <div *ngIf="drName?.errors?.['required']"> &#10008; Name should not be blank and should not exceed 35
              symbols
            </div>
            <div *ngIf="drName?.errors?.['maxlength']"> &#10008; Name should not be blank and should not exceed 35
              symbols
            </div>
            <div *ngIf="drName?.errors?.['pattern']"> &#10008; Name should consist of letters and can contain backspaces
              and/or digits
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" [formGroup]="driverValidation" style="margin-top: 15px">
        <label><b>Surname</b></label>
        <input type="text" class="form-control" id="surname" [(ngModel)]="driverUpdate.surname" name="surname"
               formControlName="drSurname">
        <div
          *ngIf="drSurname!.invalid && (drSurname!.dirty || drSurname!.touched)" class="validationAlert">
          <div>
            <div *ngIf="drSurname?.errors?.['required']"> &#10008; Surname should not be blank and should not exceed 35
              symbols
            </div>
            <div *ngIf="drSurname?.errors?.['maxlength']"> &#10008; Surname should not be blank and should not exceed 35
              symbols
            </div>
            <div *ngIf="drSurname?.errors?.['pattern']"> &#10008; Surname should consist of letters and can contain
              backspaces and/or digits
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" [formGroup]="driverValidation" style="margin-top: 15px">
        <label><b>Phone</b></label>
        <input type="text" class="form-control" id="phone" [(ngModel)]="driverUpdate.phone" name="phone"
               formControlName="drPhone">
        <div
          *ngIf="drPhone!.invalid && (drPhone!.dirty || drPhone!.touched)" class="validationAlert">
          <div>
            <div *ngIf="drPhone?.errors?.['required']"> &#10008; Phone required</div>
            <div *ngIf="drPhone?.errors?.['maxlength']"> &#10008; Phone must be max 19 symbols long</div>
            <div *ngIf="drPhone?.errors?.['pattern']"> &#10008; Phone number format is incorrect</div>
          </div>
        </div>
      </div>

      <div class="form-group" [formGroup]="driverValidation" style="margin-top: 15px">
        <label><b>Email</b></label>
        <input type="text" class="form-control" id="email" [(ngModel)]="driverUpdate.email" name="email"
               formControlName="drEmail">
        <div
          *ngIf="drEmail!.invalid && (drEmail!.dirty || drEmail!.touched)" class="validationAlert">
          <div>
            <div *ngIf="drEmail?.errors?.['required']"> &#10008; Email required</div>
            <div *ngIf="drEmail?.errors?.['pattern']"> &#10008; Email format is incorrect, email can contain only letters,
              digits, underscores, dashes, dots, @
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" [formGroup]="driverValidation" style="margin-top: 15px">
        <label><b>Work experience, years</b></label>
        <input type="text" class="form-control" id="work-experience" [(ngModel)]="driverUpdate.workExperience"
               name="workExperience" formControlName="drWorkExperience">
        <div
          *ngIf="drWorkExperience!.invalid && (drWorkExperience!.dirty || drWorkExperience!.touched)"
          class="validationAlert">
          <div>
            <div *ngIf="drWorkExperience?.errors?.['required']"> &#10008; Work experience required</div>
            <div *ngIf="drWorkExperience?.errors?.['min']"> &#10008; Work experience should be between 1 and 57 years
            </div>
            <div *ngIf="drWorkExperience?.errors?.['max']"> &#10008; Work experience should be between 1 and 57 years
            </div>
            <div *ngIf="drWorkExperience?.errors?.['pattern']"> &#10008; Work experience should be number</div>
          </div>
        </div>
      </div>

      <div class="form-group" [formGroup]="driverValidation" style="margin-top: 15px">
        <label><b>Working hours in current month</b></label>
        <input type="text" class="form-control" id="working-hours-in-current-month"
               [(ngModel)]="driverUpdate.workingHoursInCurrentMonth"
               name="workingHoursInCurrentMonth" formControlName="drWorkingHoursInCurrentMonth">
        <div
          *ngIf="drWorkingHoursInCurrentMonth!.invalid && (drWorkingHoursInCurrentMonth!.dirty || drWorkingHoursInCurrentMonth!.touched)"
          class="validationAlert">
          <div>
            <div *ngIf="drWorkingHoursInCurrentMonth?.errors?.['required']"> &#10008; Working hours in current month
              required
            </div>
            <div *ngIf="drWorkingHoursInCurrentMonth?.errors?.['min']"> &#10008; Working hours in current month should be
              between 0 and 176 hours
            </div>
            <div *ngIf="drWorkingHoursInCurrentMonth?.errors?.['max']"> &#10008; Working hours in current month should be
              between 0 and 176 hours
            </div>
            <div *ngIf="drWorkingHoursInCurrentMonth?.errors?.['pattern']"> &#10008; Working hours in current month should
              be positive integer number
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" [formGroup]="driverValidation" style="margin-top: 15px">
        <label><b>Current city</b></label>
        <input type="text" class="form-control" id="current-сity" [(ngModel)]="driverUpdate.currentCity" name="currentCity"
               formControlName="drCurrentCity">
        <div
          *ngIf="drCurrentCity!.invalid && (drCurrentCity!.dirty || drCurrentCity!.touched)" class="validationAlert">
          <div>
            <div *ngIf="drCurrentCity?.errors?.['required']"> &#10008; Current city required</div>
            <div *ngIf="drCurrentCity?.errors?.['maxlength']"> &#10008; Current city must be max 30 symbols long</div>
            <div *ngIf="drCurrentCity?.errors?.['pattern']"> &#10008; Current city format is incorrect</div>
          </div>
        </div>
      </div>

      <div class="form-group" [formGroup]="driverValidation" style="margin-top: 15px">
        <label><b>Current state</b></label>
        <input type="text" class="form-control" id="current-state" [(ngModel)]="driverUpdate.currentState" name="currentState"
               formControlName="drCurrentState">
        <div
          *ngIf="drCurrentState!.invalid && (drCurrentState!.dirty || drCurrentState!.touched)" class="validationAlert">
          <div>
            <div *ngIf="drCurrentState?.errors?.['required']"> &#10008; Current state required</div>
            <div *ngIf="drCurrentState?.errors?.['maxlength']"> &#10008; Current state must be max 30 symbols long</div>
            <div *ngIf="drCurrentState?.errors?.['pattern']"> &#10008; Current state format is incorrect</div>
          </div>
        </div>
      </div>

      <button class="button">UPDATE</button>
    </form>
  </div>
</ng-template>
