.confirmation-panel-style{
  width: 400px;
  height: 200px;
  background-color: white;
  font-size: 22px;
  font-family: Lato, serif;
  border-radius: 1rem;
}

.modal-title {
  font-size: 26px;
  font-family: Lato, serif;
  color: darkred;
  font-weight: bolder;
}

.modal-body {
  font-size: 26px;
  font-family: Lato, serif;
  font-weight: bold;
}
