<p></p>
<div>
  <mat-form-field appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
  </mat-form-field>
</div>

<div>
  <div class="table-container">
    <mat-table [dataSource]="dataSource" matSort class="mat-table-style">

      <!-- Order id Column -->
      <ng-container matColumnDef="orderId" sticky>
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">Order id</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell"> {{row.orderId}} </mat-cell>
      </ng-container>
      <!-- Order customer id Column -->
      <ng-container matColumnDef="orderCustomerId">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">Order customer id</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell"> {{row.orderCustomerId}} </mat-cell>
      </ng-container>
      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">Category</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell"> {{row.category}} </mat-cell>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">Weight, tons</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell"> {{row.weight}} </mat-cell>
      </ng-container>
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">Status</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell"> {{row.status.replaceAll("_", " ").toLowerCase()}} </mat-cell>
      </ng-container>
      <!-- Start date and time Column -->
      <ng-container matColumnDef="startDateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">Start date and time</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell"> {{row.startDateTime}} </mat-cell>
      </ng-container>
      <!-- Limit date and time Column -->
      <ng-container matColumnDef="limitDateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">Limit date and time</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell"> {{row.limitDateTime}} </mat-cell>
      </ng-container>
      <!-- Assigned truck number Column -->
      <ng-container matColumnDef="assignedTruckNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">Assigned truck number</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell"> {{row.assignedTruckNumber}} </mat-cell>
      </ng-container>
      <!-- Driver comment Column -->
      <ng-container matColumnDef="driverComment">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">Driver's comment</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell"> {{row.driverComment}} </mat-cell>
      </ng-container>


      <!-- Actions Column -->
      <ng-container matColumnDef="actions" stickyEnd>
        <mat-header-cell *matHeaderCellDef class="actions-header-cell">Actions</mat-header-cell>
        <mat-cell *matCellDef="let row" class="buttons-container-cell">
        <span style="width: 50px">
          <button (click)="showOrderDetails(row.orderId)" mat-button class="btn bnt-success" title="Order details">
            <mat-icon>remove_red_eye</mat-icon></button>
        </span>
          <span style="width: 50px">
          <button (click)="updateOrder(row.orderId)" mat-button class="btn bnt-success" title="Edit order">
            <mat-icon>edit</mat-icon></button>
        </span>
          <span style="width: 50px">
          <button mat-button (click)="deleteOrder(row.orderId)" title="Delete order">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
        </mat-cell>
      </ng-container>
      <div>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </div>
    </mat-table>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" class="mat-paginator-style"></mat-paginator>
  </div>
</div>

