  <div class="order-details order-details-background">
    <ng-template [ngIf]="isError" [ngIfElse]="details">
      <div class="error">
        <label><h3>Error occurred for while searching order with id {{id}}:</h3></label>
        <br>
        <label><h3>{{errorMessage}}:</h3></label>
      </div>
    </ng-template>
    <ng-template #details>

      <div *ngIf="order === null">
        <br>
        <div class="order-details-header" style="color: #034694">
          Currently no new orders for you.
        </div>
        <div class="order-details-header" style="color: #034694">
         We hope that something new will appear soon...
        </div>
        <div class="order-details-info">
        </div>
      </div>

      <div *ngIf="order !== null">
        <br>
        <div class="order-details-header">
          Order# <span class="header-style">{{order.orderId}} </span>details
        </div>
        <div class="order-details-info">

          <div class="order-details-cell">
            <label><b class="header-style">Order id: </b><span
              class="row-margin">{{order.orderId}}</span></label>
          </div>
          <div class="order-details-cell">
            <label><b class="header-style">Total number of cargos: </b><span
              class="row-margin">{{calculateNumberOfCargos()}}</span></label>
          </div>
          <div class="order-details-cell">
            <label><b class="header-style">Customer id for order: </b><span
              class="row-margin">{{order.orderCustomerId}}</span></label>
          </div>
          <div class="order-details-cell">
            <label><b class="header-style">Category: </b><span class="row-margin">{{order.category}}</span></label>
          </div>
          <div class="order-details-cell">
            <label><b class="header-style">Weight, tons: </b><span
              class="row-margin">{{order.weight}}</span></label>
          </div>
          <div class="order-details-cell">
            <label><b class="header-style">Status: </b><span
              class="row-margin">{{order.status!.replaceAll("_", " ").toLowerCase()}}</span></label>
          </div>
          <div class="order-details-cell">
            <label><b class="header-style">Start date and time: </b><span
              class="row-margin">{{order.startDateTime ?? '  &mdash;'}}</span></label>
          </div>
          <div class="order-details-cell">
            <label><b class="header-style">Limit date and time: </b><span
              class="row-margin">{{order.limitDateTime}}</span></label>
          </div>
          <div class="order-details-cell">
            <label><b class="header-style">Assigned truck number: </b><span
              class="row-margin"><a
              [routerLink]="['../../truck/details/', order.assignedTruckNumber]">{{order.assignedTruckNumber ?? '  &mdash;'}}</a></span></label>
          </div>
          <div class="order-details-cell">
            <label><b class="header-style">First driver: </b><span
              class="row-margin"><a
              [routerLink]="['../../driver/details/', findFirstAssignedDriverPersonalNumber()]"
              *ngIf="findFirstAssignedDriverPersonalNumber() !== 'not assigned'">{{findFirstAssignedDriver()}}</a></span></label>
          </div>
          <div class="order-details-cell">
            <label><b class="header-style">Second driver: </b><span
              class="row-margin"><a
              [routerLink]="['../../driver/details/', findSecondAssignedDriverPersonalNumber()]"
              *ngIf="findSecondAssignedDriverPersonalNumber() !== 'not assigned'">{{findSecondAssignedDriver()}}</a></span></label>
          </div>
<!--          <div class="order-details-cell">-->
<!--            <label><b class="header-style">Driver's comment: </b><span-->
<!--              class="row-margin">{{order.driverComment ?? '  &mdash;'}}</span></label>-->
<!--          </div>-->

          <div class="buttons-panel">
            <span style="width: 120px" *ngIf="order.status === 'EXPECT_DRIVERS_CONFIRMATION'">
          <button mat-button (click)="confirmOrder('YES')"
                  style="; margin-right: 10px; color: white; background-color: #009511; width: 120px">
            <mat-icon>edit</mat-icon> CONFIRM ORDER
          </button></span>
            <span style="width: 50px" *ngIf="order.status === 'EXPECT_DRIVERS_CONFIRMATION'">
          <button mat-button (click)="confirmOrder('NO')" style="background-color: darkred; color: white"
                  title="Delete order">
            <mat-icon>delete</mat-icon> DECLINE ORDER
          </button></span>
            <br>
            <br>

            <span style="width: 50px">
          <button mat-button (click)="findAllCargos(order.orderId!)"
                  style="; margin-right: 10px; color: white; background-color: #009511; width: 140px">
            <mat-icon>list</mat-icon> ALL CARGOS IN ORDER
          </button></span>
            <br>
            <br>

          </div>
        </div>
      </div>

    </ng-template>
  </div>
