<div class="grid-container">
  <div class="logistician-details">
    <ng-template [ngIf]="isError" [ngIfElse]="details">
      <div class="error">
        <label><h3>Error occurred for while searching logistician with id {{id}}:</h3></label>
        <br>
        <label><h3>{{errorMessage}}:</h3></label>
      </div>
    </ng-template>
    <ng-template #details>
      <div>
        <br>
        <div class="logistician-details-header">
          Logistician <span class="header-style">{{logistician.name}} {{logistician.surname}} </span>details
        </div>
        <div class="logistician-details-info">

          <div class="logistician-details-cell">
            <label><b class="header-style">Personal number: </b><span
              class="row-margin">{{logistician.personalNumber}}</span></label>
          </div>
          <div class="logistician-details-cell">
            <label><b class="header-style">Name: </b><span class="row-margin">{{logistician.name}}</span></label>
          </div>
          <div class="logistician-details-cell">
            <label><b class="header-style">Surname: </b><span class="row-margin">{{logistician.surname}}</span></label>
          </div>

          <div class="buttons-panel">
            <span style="width: 50px">
          <button mat-button (click)="updateLogistician(logistician.personalNumber!)" style="; margin-right: 10px; color: white; background-color: #009511; width: 100px">
            <mat-icon>edit</mat-icon> EDIT
          </button></span>
            <span style="width: 50px">
          <button mat-button (click)="deleteLogistician(logistician.personalNumber!)" style="background-color: darkred; color: white">
            <mat-icon>delete</mat-icon> DELETE
          </button></span>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="background-pic"></div>
</div>
