.error-container{

  margin-bottom: 5rem;
  margin-top: 3rem;
  font-size: 2rem;
  font-family: Lato, serif;
  font-weight: bold;
  color: darkred;
  height: 100%;
  width: 100%;
}


.error{
  margin-top: 5rem;
  margin-left: 5rem;
  background-repeat: no-repeat;
  background-size: inherit;
  background-image: url(../../../../resources/404_2-error.jpg);
  height: 100%;
  width: 100%;
}
