<ng-template [ngIf]="isError" [ngIfElse]="details">
  <div>
    <label><h3>Error occurred for while updating authentication info with id {{id}}:</h3></label>
    <label><h3>{{errorMessage}}:</h3></label>
  </div>
</ng-template>
<ng-template #details>
  <div class="form-create">
    <h3 class="text-center" style="font-size: 26px"><b>Update authentication info for id = {{id}}</b></h3>
    <form (ngSubmit)="onSubmit()">

      <div class="form-group" [formGroup]="authenticationInfoValidation" style="margin-top: 15px">
        <label><b>Login</b></label>
        <input type="text" class="form-control" id="name" [(ngModel)]="authenticationInfoUpdate.username" name="name" formControlName="loginCheck">
        <div
          *ngIf="loginCheck!.invalid && (loginCheck!.dirty || loginCheck!.touched)" class="validationAlert">
          <div>
            <div *ngIf="loginCheck?.errors?.['required']"> &#10008; Login should not be blank and should not exceed 40
              symbols
            </div>
            <div *ngIf="loginCheck?.errors?.['maxlength']"> &#10008; Login should not be blank and should not exceed 40
              symbols
            </div>
            <div *ngIf="loginCheck?.errors?.['pattern']"> &#10008; Login can contain only Latin letters, digits and underscores
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" [formGroup]="authenticationInfoValidation" style="margin-top: 15px">
        <label><b>Password</b></label>
        <input type="text" class="form-control" id="password" [(ngModel)]="authenticationInfoUpdate.password" name="surname"
               formControlName="passwordCheck">
        <div
          *ngIf="passwordCheck!.invalid && (passwordCheck!.dirty || passwordCheck!.touched)" class="validationAlert">
          <div>
            <div *ngIf="passwordCheck?.errors?.['required']"> &#10008; Password required
            </div>
          </div>
        </div>
      </div>

      <button class="button">UPDATE</button>
    </form>
  </div>
</ng-template>
