.error-container{

  margin-bottom: 5rem;
  margin-top: 3rem;
  font-size: 2rem;
  font-family: Lato, serif;
  font-weight: bold;
  color: darkred;
  height: 100%;
  width: 100%;
  line-height: 40px;
}


.error{
  margin-top: 5rem;
  margin-left: 5rem;
  background-repeat: no-repeat;
  background-size: inherit;
  background-image: url(../../../../resources/error-common.png);
  height: 50%;
  width: 50%;
}
