<mat-toolbar color="primary">
  <div>
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()" *ngIf="isLoggedIn === 'true'">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <h1 class="h1">Fast logistics</h1>
  <div class="logopic"></div>
  <h1>Swiftly we ship, without a single slip!</h1>
  <div class="logout" *ngIf="isLoggedIn === 'true'">
    <button class="logout-button" (click)="logOut()">
      Log out
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container autosize="true" class="mat-nav-list">
  <mat-sidenav class="sidebar-style" [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
               [opened]="isMobile ? 'false' : 'true'" *ngIf="isLoggedIn === 'true'">
    <div *ngIf="!isCollapsed" class="avatar-main">
      <div *ngIf="userRole === 'ROLE_ADMIN'">
        <img class="avatar-admin-pic mat-elevation-z8"/>
      </div>
      <div *ngIf="userRole === 'ROLE_LOGISTICIAN'">
        <img class="avatar-logistician-pic mat-elevation-z8"/>
      </div>
      <div *ngIf="userRole === 'ROLE_DRIVER'">
        <img class="avatar-driver-pic mat-elevation-z8"/>
      </div>
      <div *ngIf="userRole === 'ROLE_CUSTOMER'">
        <img class="avatar-customer-pic mat-elevation-z8"/>
      </div>

      <h4 class="name">{{localStorage.getItem('username-name')}} {{localStorage.getItem('username-surname')}}</h4>
      <p class="designation">{{userRole.replace("ROLE_", '')}}</p>
    </div>
    <div *ngIf="!isCollapsed">
      <mat-divider></mat-divider>
    </div>
    <mat-nav-list color="primary">
      <div *ngIf="userRole === 'ROLE_LOGISTICIAN' || userRole === 'ROLE_DRIVER'">
        <h1 *ngIf="userRole === 'ROLE_LOGISTICIAN'">ORDERS</h1>
        <h1 *ngIf="userRole === 'ROLE_DRIVER'">ASSIGNED ORDER</h1>
        <a mat-list-item routerLink="order/forDriver" *ngIf="userRole === 'ROLE_DRIVER'">
        <span class="entry">
          <mat-icon>library_books</mat-icon>
          <span *ngIf="!isCollapsed">Show Assigned Order</span>
        </span>
        </a>
        <a mat-list-item routerLink="orders" *ngIf="userRole === 'ROLE_LOGISTICIAN'">
        <span class="entry">
          <mat-icon>library_books</mat-icon>
          <span *ngIf="!isCollapsed">Show All Orders</span>
        </span>
        </a>
        <a mat-list-item routerLink="order/create" *ngIf="userRole === 'ROLE_LOGISTICIAN'">
        <span class="entry">
          <mat-icon>library_add</mat-icon>
          <span *ngIf="!isCollapsed">Create New Order</span>
        </span>
        </a>
      </div>

      <div *ngIf="userRole === 'ROLE_LOGISTICIAN'">
        <h1>CARGOS</h1>
        <a mat-list-item routerLink="cargos" *ngIf="userRole === 'ROLE_LOGISTICIAN'">
        <span class="entry">
          <mat-icon>card_travel</mat-icon>
          <span *ngIf="!isCollapsed">Show All Cargos</span>
        </span>
        </a>
<!--        <a mat-list-item routerLink="cargo/create" *ngIf="userRole === 'ROLE_LOGISTICIAN'">-->
<!--        <span class="entry">-->
<!--          <mat-icon>add</mat-icon>-->
<!--          <span *ngIf="!isCollapsed">Create New Cargo</span>-->
<!--        </span>-->
<!--        </a>-->
      </div>

      <div *ngIf="userRole === 'ROLE_LOGISTICIAN'">
        <h1>DRIVERS</h1>
        <a mat-list-item routerLink="drivers">
        <span class="entry">
          <mat-icon>people_outline</mat-icon>
          <span *ngIf="!isCollapsed">Show All Drivers</span>
        </span>
        </a>
        <a mat-list-item routerLink="driver/create">
        <span class="entry">
          <mat-icon>person_add</mat-icon>
          <span *ngIf="!isCollapsed">Create New Driver</span>
        </span>
        </a>
      </div>

      <div *ngIf="userRole === 'ROLE_DRIVER'">
        <h1>MY DETAILS</h1>
        <a mat-list-item [routerLink]="['../../driver/details/', getDriverPersonalNumber()]">
        <span class="entry">
          <mat-icon>people_outline</mat-icon>
          <span *ngIf="!isCollapsed">Show My details</span>
        </span>
        </a>
      </div>

      <div *ngIf="userRole === 'ROLE_LOGISTICIAN'">
        <h1>TRUCKS</h1>
        <a mat-list-item routerLink="trucks">
        <span class="entry">
          <mat-icon>local_shipping</mat-icon>
          <span *ngIf="!isCollapsed">Show All Trucks</span>
        </span>
        </a>
        <a mat-list-item routerLink="truck/create" *ngIf="userRole === 'ROLE_LOGISTICIAN'">
        <span class="entry">
          <mat-icon>add</mat-icon>
          <span *ngIf="!isCollapsed">Create New Truck</span>
        </span>
        </a>
      </div>
      <div *ngIf="userRole === 'ROLE_LOGISTICIAN'">
        <h1>CUSTOMERS</h1>
        <a mat-list-item routerLink="customers">
        <span class="entry">
          <mat-icon>person_pin</mat-icon>
          <span *ngIf="!isCollapsed">Show All Customers</span>
        </span>
        </a>
        <a mat-list-item routerLink="customer/create">
        <span class="entry">
          <mat-icon>person_add</mat-icon>
          <span *ngIf="!isCollapsed">Create New Customer</span>
        </span>
        </a>
      </div>
      <!---------------------- MENU FOR ADMIN ----------------------------------------------------- -->
      <div *ngIf="userRole === 'ROLE_ADMIN'">
        <h1>LOGISTICIANS</h1>
        <a mat-list-item routerLink="logisticians">
        <span class="entry">
          <mat-icon>people</mat-icon>
          <span *ngIf="!isCollapsed">Show All Logisticians</span>
        </span>
        </a>
        <a mat-list-item routerLink="logistician/create">
        <span class="entry">
          <mat-icon>person_add</mat-icon>
          <span *ngIf="!isCollapsed">Create New Logistician</span>
        </span>
        </a>
      </div>
      <div *ngIf="userRole === 'ROLE_ADMIN'">
        <h1>AUTHENTICATION</h1>
        <a mat-list-item routerLink="authentication-info/list">
        <span class="entry">
          <mat-icon>people_outline</mat-icon>
          <span *ngIf="!isCollapsed">Show All Users</span>
        </span>
        </a>
        <a mat-list-item routerLink="authenticationInfo/create">
        <span class="entry">
          <mat-icon>person_add</mat-icon>
          <span *ngIf="!isCollapsed">Create New User</span>
        </span>
        </a>
      </div>

      <!---------------------- MENU FOR CUSTOMER ----------------------------------------------------- -->
      <div *ngIf="userRole === 'ROLE_CUSTOMER'">
        <br>
        <br>
        <a mat-list-item (click)="getCustomerDetails()">
          <span  style="color: white; align-items: center; justify-content: center; display: flex;">
          <h1><mat-icon>account_circle</mat-icon>  COMPANY DETAILS</h1>
        </span>
        </a>
        <br>
        <br>
        <a mat-list-item routerLink="customer/orders">
        <span style="color: white">
         <h1 style="align-content: center"><mat-icon>list</mat-icon>  ORDERS</h1>
        </span>
        </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="mat-sidenav-content-style">
      <h1></h1>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
