<mat-toolbar color="primary">
  <div>
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  </div>
  <h1 class="h1">Fast logistics</h1>
  <div class="logopic"></div>
  <h1>Swiftly we ship, without a single slip!</h1>
  <div class="logout">
    <button class="logout-button">
      Log out
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container autosize="true" class="mat-nav-list">
  <mat-sidenav class="sidebar-style" [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
               [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list color="primary">
      <h1>ORDERS</h1>
      <a mat-list-item routerLink="orders">
        <span class="entry">
          <mat-icon>library_books</mat-icon>
          <span *ngIf="!isCollapsed">Show All Orders</span>
        </span>
      </a>
      <a mat-list-item routerLink="order/create">
        <span class="entry">
          <mat-icon>library_add</mat-icon>
          <span *ngIf="!isCollapsed">Create New Order</span>
        </span>
      </a>

      <h1>CARGOS</h1>
      <a mat-list-item routerLink="cargos">
        <span class="entry">
          <mat-icon>card_travel</mat-icon>
          <span *ngIf="!isCollapsed">Show All Cargos</span>
        </span>
      </a>
      <a mat-list-item routerLink="cargo/create">
        <span class="entry">
          <mat-icon>add</mat-icon>
          <span *ngIf="!isCollapsed">Create New Cargo</span>
        </span>
      </a>

      <h1>DRIVERS</h1>
      <a mat-list-item routerLink="drivers">
        <span class="entry">
          <mat-icon>people_outline</mat-icon>
          <span *ngIf="!isCollapsed">Show All Drivers</span>
        </span>
      </a>
      <a mat-list-item routerLink="driver/create">
        <span class="entry">
          <mat-icon>person_add</mat-icon>
          <span *ngIf="!isCollapsed">Create New Driver</span>
        </span>
      </a>

      <h1>TRUCKS</h1>
      <a mat-list-item routerLink="trucks">
        <span class="entry">
          <mat-icon>local_shipping</mat-icon>
          <span *ngIf="!isCollapsed">Show All Trucks</span>
        </span>
      </a>
      <a mat-list-item routerLink="truck/create">
        <span class="entry">
          <mat-icon>add</mat-icon>
          <span *ngIf="!isCollapsed">Create New Truck</span>
        </span>
      </a>

      <h1>CUSTOMERS</h1>
      <a mat-list-item routerLink="customers">
        <span class="entry">
          <mat-icon>person_pin</mat-icon>
          <span *ngIf="!isCollapsed">Show All Customers</span>
        </span>
      </a>
      <a mat-list-item routerLink="customer/create">
        <span class="entry">
          <mat-icon>person_add</mat-icon>
          <span *ngIf="!isCollapsed">Create New Customer</span>
        </span>
      </a>

      <h1>LOGISTICIANS</h1>
      <a mat-list-item routerLink="logisticians">
        <span class="entry">
          <mat-icon>person_pin</mat-icon>
          <span *ngIf="!isCollapsed">Show All Logisticians</span>
        </span>
      </a>
      <a mat-list-item routerLink="logistician/create">
        <span class="entry">
          <mat-icon>person_add</mat-icon>
          <span *ngIf="!isCollapsed">Create New Logisticians</span>
        </span>
      </a>

      <h1>AUTHENTICATION</h1>
      <a mat-list-item routerLink="authenticationInfo">
        <span class="entry">
          <mat-icon>person_pin</mat-icon>
          <span *ngIf="!isCollapsed">Show All Authentication Info</span>
        </span>
      </a>
      <a mat-list-item routerLink="authenticationInfo/create">
        <span class="entry">
          <mat-icon>person_add</mat-icon>
          <span *ngIf="!isCollapsed">Create New Authentication Info</span>
        </span>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="mat-sidenav-content-style">
    <h1></h1>
    <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
